/* Progress Bar styles */
.progress-bar {
    height: 6px;
    background: linear-gradient(to right, #a78bfa 0%, #a78bfa 50%, transparent 50%, transparent 100%);
    background-size: 200% 100%;
    animation: progress 2s linear infinite;
    border-radius: 4px;
  }
  
  @keyframes progress {
    from {
      background-position: 200% 0;
    }
    to {
      background-position: -200% 0;
    }
  }
  