

.appContainer{
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  padding: 20px;
  font-family:sans-serif;
  letter-spacing: 0.5px;
}

.App{
  display: flex;
  flex-direction: column;
}

.appHeaders{
  text-align: center;
  margin: 10px;
  font-size: 20px;
  color: #d1d5db;
}

.mapContainer {
  border-radius: 12px;
  overflow: hidden; 
}

.footerContainer{
  width: 100%;
  position: fixed;
  bottom:0;
}

@media screen and (min-width: 900px) {
  .App {
    flex-direction: row;
  }

  .headersContainer{
    width: 30%;
  }

  .mapContainer{
    width: 70%;
  }
}